<template>
    <div>
        <VueDragResize v-for="table in tables" :key="table.key"
            :isActive="false" 
            :parentLimitation="true"
            :w="table.w" 
            :h="table.h" 
            :x="table.x"
            :y="table.y"
            contentClass="box-shadow"
            v-on:resizing="(r) => resize(table, r)" 
            v-on:dragging="(r) => resize(table, r)"
        >
            <!-- <p>{{ table.x }} х {{ table.y }} </p>
            <p>{{ table.w }} х {{ table.h }}</p> -->
            <div
                class="top-controls"
                v-on:mousedown="topMouseDown"
                v-on:change="scheduleSaveData"
            >
                <input v-model="table.name" type="text" />
            </div>
        </VueDragResize>
		<img class="page-img" :src="`data/${PageId}.png`" alt="">
	</div>
</template>

<style scoped>
    .box-shadow {
        background: rgb(100, 0, 100, 0.3);
    }
    .page-img {
        border: 1px solid #c3c3c3;
    }
    .top-controls {
        background: rgba(0, 0, 0, .72 );
        width: 100%;
        transform: translateY( -100% );
        padding: 4px 12px;
    }
    .top-controls input {
        max-width: 100%;
    }
</style>


<script>
import VueDragResize from 'vue-drag-resize';
import { debounce } from '../../utils'

export default {
	components: {
        VueDragResize
	},
	props: {
		PageId: {type: String, default: null},
    },
    created() {
        this.getData()
    },
    watch: {
		PageId() {
            this.getData()
        }
	},
    data() {
        return {
            tables: [],
        }
    },
    methods: {
        topMouseDown( e ) {
            e.stopPropagation();
        },
        resize(table, newRect) {
            table.w = newRect.width
            table.h = newRect.height
            table.y = newRect.top
            table.x = newRect.left
            this.scheduleSaveData()
        },
        scheduleSaveData: debounce( function() {
            sessionStorage.setItem(this.PageId, JSON.stringify(this.tables))
        }, 200 ),
        getData() {
            let savedData = sessionStorage.getItem(this.PageId)
            if (savedData) {
                this.tables = JSON.parse(savedData)
                return
            }
            fetch(`data/${this.PageId}.xml`).then(res => res.text())
            .then(xml => {
                var parseString = require('xml2js').parseString;
                parseString(xml, (err, result) => {
                    this.tables = result.annotation.object.map((i, k) => {
                        console.log( i )
                        return {
                            'key': k,
                            'w': Math.ceil((i.bndbox[0].xmax[0] - i.bndbox[0].xmin[0]) / 3.78),
                            'h': Math.ceil((i.bndbox[0].ymax[0] - i.bndbox[0].ymin[0]) / 3.78),
                            'x': Math.ceil(i.bndbox[0].xmin[0] / 3.78),
                            'y': Math.ceil(i.bndbox[0].ymin[0] / 3.78),
                            'name': i.name ? i.name[0] : '',
                        }
                    })
                })
                sessionStorage.setItem(this.PageId, JSON.stringify(this.tables))
            })
        }
    }
}
</script>
